@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color--tertiary);
  font-family: "Poppins", sans-serif;
  overflow:hidden;
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 16px;
  }
  h3,h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
}

.music-player {
  height: 85vh;
  width: 600px;
  background: var(--bg-color--primary);
  display: flex;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  border:2px solid #454f59;
  padding: 0px 0px 10px 0px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11),
              0 16px 16px rgba(0,0,0,0.11),
              0 32px 32px rgba(0,0,0,0.11);

  p {
    font-size: 12px;
    line-height:1.2;
    color: var(--text-color--secondary);
  }
}

@media only screen and (max-width: 767px) {
  .music-player{
    width:100vw;
    height: 100%;
    border-radius: 0;
  }
}
