.music-player__footer {
  position: absolute;
  height: calc(100% - 65px);
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 1rem 1rem 0 0;
  padding-bottom: 8rem;
  box-sizing: border-box;
  transform: translateY(-91px);
  will-change: transform;
  background: var(--bg-color--tertiary);
  transition: 0.45s;
  box-shadow: 0 0rem 1rem rgba(43, 0, 99, 0.4);
  padding: 16px;
  &.expanded {
    transform: translateY(-100%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px 32px 0px;
    // border-radius: 0;
    // padding-bottom: 8rem;
    .song-details--wrapper {
      // transform: scale(1);
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
      transition: 0.3s;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.6);
      // transition: 0.3s;
      // transition-delay: 0.3s;
      .song-details__cover {
        visibility: visible;
        transform: scale(1);
        width: 100%;
        height: 260px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        // border-radius: 1rem 1rem 50% 50%;
        box-shadow: 0 0.5rem 0.5rem rgba(68, 68, 68, 0.3);
        transition: 0.3s;
        transition-delay: 0.3s;
        background: var(--bg-color--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          margin-bottom: 48px;
        }
      }
      .song-details__meta {
        position: absolute;
        left: 16px;
        bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        width: 100%;
        max-height: unset;
        // padding: 16px 24px;
        user-select: none;
        h4,
        p {
          max-width: calc(80% - 10px);
          width: max-content;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          // margin: 0 auto;
          // line-height: 24px;
          background-color: black;
          padding: 8px;
          border-radius: 5px;
        }
        h4 {
          // font-size: 22px;
          // text-transform: uppercase;
        }
        p {
          margin-top: 6px;
        }
      }
      .song__actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        i {
          font-size: 1.2rem;
          color: rgba(255, 255, 255, 0.6);
          transition: 0.15s ease-in;
          padding: 10px;
          cursor: pointer;
          &:hover {
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
            color: rgb(255, 255, 255);
          }
          &:first-child {
            margin-left: 8px;
          }
          &:last-child {
            margin-right: 8px;
          }
        }
      }
    }
    .background-image {
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      // -webkit-filter: blur(50px);
      // -moz-filter: blur(50px);
      // -o-filter: blur(50px);
      // -ms-filter: blur(50px);
      filter: blur(45px);
    }
    .footer__drawer-icon {
      i {
        transform: rotate(-180deg);
        padding-top: 0px;
        padding-right: 2px;
      }
    }
    .footer--topbar {
      height: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .song__controls {
      padding: 72px 0 24px 0;
      margin-right: 0;
      position: static;
      display: flex;
      align-items: center;
      svg {
        height: unset;
        padding:12px 16px;
        &:first-child, &:last-child, &:nth-of-type(2) {
          display: inline-block;
        }
      }
      svg:nth-of-type(3) {
        margin: 0px 16px;
        height:32px;
        width:32px;
      }
    }
    .song__status{
      display: flex;
    }
    .song__progress {
      position: static;
      margin-top: 24px;
      width: calc(100% - 3rem);
    }
    .footer__visualiser {
      display: block;
    }
  }
  .song-details--wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // transform: scale(0.8);
    .song-details__cover {
      // visibility: hidden;
      transform: scale(0.8);
      transition: 0.03s;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    flex: 0;
    display: flex;
    position: relative;
    align-items: flex-end;
    .song-details__meta {
      width: calc(60% - 10px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
      display: flex;
      user-select: none;
      flex-direction: column;
      justify-content: center;
      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 21px;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
        color: white;
      }
    }
    .song__actions {
      display: none;
    }
  }
  .footer--topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .footer__drawer-icon {
    position: absolute;
    top: -15px;
    right: 16px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: var(--icon-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.15s ease-in;
    border-radius: 50%;
    i {
      font-size: 1.3rem;
      padding-top: 2px;
      padding-left: 1px;
      color: var(--icon-color);
    }
    &:hover {
      i {
        color: var(--icon-color);
      }
    }
  }
  .song__controls {
    position: absolute;
    right: 24px;
    bottom: -8px;
    svg {
      color: currentColor;
      transition: 0.15s ease-in;
      padding: 12px;
      height:24px;
      width:24px;
      // border-radius: 50%;
      cursor: pointer;
      &:first-child, &:last-child, &:nth-of-type(2) {
        display: none;
      }
    }
  }
  .song__status{
    position: absolute;
    bottom:16px;
    display:none;
    width:calc(100% - 3rem);
    justify-content:space-between;
    align-items:center;
    .song__status--current-time,.song__status--duration{
      color:white;
      background:black;
      padding:6px;
      border-radius:3px;
    }
  }
  
  .song__progress {
    position: absolute;
    bottom: -16px;
    display: flex;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: rgba(253, 253, 253, 0.5);
  }
  .footer__visualiser {
    display: none;
    position: absolute;
    bottom: 0;
    // transform:rotate(-180deg);
    // top:50%;
    // transform:translateY(-50%);
    width: 100%;
    height: 70%;
    z-index: -1;
  }
}

#progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 4px;
  &::-webkit-progress-bar {
    background: var(--bg-color--seondary);
    border-radius: 80px;
    box-shadow: 0 2px 5px var(--bg-color--seondary) inset;
  }
}
progress[value]::-webkit-progress-value {
  background-color: rgba(253, 253, 253, 1);
  border-radius: 80px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

@media only screen and (max-width: 467px) {
  .music-player__footer.expanded {
    .song-details--wrapper {
      width: calc(100% - 24px) !important;
      // .song-details__cover {
      //   border-radius: 1rem 1rem 50% 50%;
      // }
    }
  }
}
