.music-player__footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 1rem 1rem 0 0;
  box-sizing: border-box;
  will-change: transform;
  background: var(--bg-color--secondary);
  // border-top: 1px solid #454f59;
  transition: 0.2s ease-in;
  box-shadow: 0 0rem 1rem rgba(43, 0, 99, 0.4);
  padding: 16px 16px 24px 16px;
  &.music-player__footer--hidden {
    transform: translateY(120%);
  }
  .song-details--wrapper {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    .song-details__meta {
      width: calc(70% - 10px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
      display: flex;
      user-select: none;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 21px;
        user-select: none;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
        color: white;
        user-select: none;
      }
    }
    .song-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .song-controls__icon {
        cursor: pointer;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--play,
        &--pause {
          background: var(--bg-color--primary);
          width: 42px;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: relative;
          // margin-right: 12px;
          svg,
          path {
            stroke: white;
          }
        }
        &--svg {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: var(--bg-color--primary);
        }
        &--wrapper {
          background: -webkit-linear-gradient(
            90deg,
            #f27121,
            #e94057,
            #8a2387,
            #f27121
          );
          background: linear-gradient(90deg, #f27121, #e94057, #8a2387, #f27121);
          background-size: 400%;
          &:before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            border-radius: 50%;
            z-index: -1;
            transition: 0.3s;
            background: -webkit-linear-gradient(
              90deg,
              #f27121,
              #e94057,
              #8a2387,
              #f27121
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(90deg, #f27121, #e94057, #8a2387, #f27121);
            background-size: 400%;
            animation: animatedGradient 8s infinite;
          }
          &:hover:before {
            top: -8px;
            left: -8px;
            right: -8px;
            bottom: -8px;
            filter: blur(5px);
            -webkit-filter: blur(5px);
          }
        }
      }
      svg {
        color: currentColor;
        transition: 0.15s ease-in;
        height: 18px;
        width: 18px;
        cursor: pointer;
      }
      path {
        stroke: currentColor;
      }
    }
  }

  .footer__drawer-icon {
    position: absolute;
    top: -15px;
    right: 16px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: var(--icon-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.15s ease-in;
    border-radius: 50%;
    i {
      font-size: 1.3rem;
      padding-top: 2px;
      padding-left: 1px;
      color: var(--icon-color);
    }
    &:hover {
      i {
        color: var(--icon-color);
      }
    }
  }

  .song__progress {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: rgba(253, 253, 253, 0.5);
  }
}

#progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 4px;
  &::-webkit-progress-bar {
    background: var(--bg-color--secondary);
    border-radius: 80px;
    box-shadow: 0 2px 5px var(--bg-color--secondary) inset;
  }
}
progress[value]::-webkit-progress-value {
  background-color: rgba(253, 253, 253, 1);
  border-radius: 80px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
