.music-player__header {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color--secondary);
  padding:24px 16px;
  width: calc(100% - 32px);
  // border-radius: 0px 0px 45px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: -4px -4px 37px 1px rgba(0, 0, 0, 0.5);
  .music-player__header--right{
    display: flex; 
    div{
      cursor: pointer;
    }
  }
}

.music-player__search {
  position: absolute;
  top: 3rem;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--icon-background-color);
  box-shadow: 0 0.5rem 1rem rgba(88, 61 ,145, 0.3);
  height: 50px;
  width: 50px;
  z-index: 2;
  border-radius: 50%;
  transition:0.35s ease-in-out;
  cursor: pointer;
  &.hidden{
    transform:translateX(100px);
  }
}
