.music-player__song-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  margin-top: 76px;
  overflow: scroll;
  user-select: none;
  &.overlay {
    display:none;
    .music-player__song {
      // transform: translate3d(0, 2rem, -2rem) scale(0.9);
      opacity: 0.5;
    }
    .song-details__cover-image {
      transform: translateX(-2rem);
      opacity: 0;
    }
  }
  &--container {
    padding-top: 20px;
    padding-bottom: 165px;
    animation: slideinFromRight 0.5s var(--transition) 1;
  }
  &--no-songs {
    display: flex;
    flex-direction: column;
    height: calc(100% - 120px);
    align-items: center;
    justify-content: center;
    color: white;
    svg {
      margin-bottom: 12px;
      height: 48px;
      width: 48px;
    }
    h5 {
      font-size: 16px;
    }
  }
  .music-player__song-list--no-songs{
    color:var(--text-color--primary)
  }
}

@keyframes slideinFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
