.music-player__song {
  // height: 70px;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--bg-color--primary);
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s ease-in;
  .song__details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 5px;
    position: relative;
    &--left {
      display: flex;
      align-items: center;
      max-width: 85%;
      z-index:2;
    }
    &--right {
      display: flex;
      align-items: center;
      z-index: 2;
      svg {
        fill: white;
        margin-left: 8px;
      }
      p {
        color: var(--text-color--secondary);
        opacity: 0.7;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(141, 153, 167, 0.4), rgba(141, 153, 167, 0.02));
      opacity: 0;
      transform: translateX(-100%);
      transition: 0.3s ease-out;
    }
    &:hover {
      border: 1px solid rgba(141, 153, 167, 0.4);
      &:before {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
      }
    }
  }
  .song__meta {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 65px);
    .song__title {
      color: var(--text-color--primary);
      margin-bottom: 4px;
      h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.4;
      }
    }
    .song__artist {
      p {
        color: var(--text-color--secondary);
        opacity: 0.7;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  .song-details__cover-image {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  &.music-player__song--active {
    .song__details {
      border: 1px solid rgba(141, 153, 167, 0.4);
      &:before {
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
      }
      .song__artist {
        p {
          color: var(--text-color--active);
          opacity: 1;
        }
      }
    }
  }
}
